.question {
    margin-bottom: 160px;
}
.question__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.question__title {
    margin: 0;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
}
.question__button-wrapper {
    display: flex;
    flex-direction: column;
}
.question__button {
    position: relative;
    padding: 32px 334px 32px 40px;
    background-color: #F2F5F9;
    border: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
    cursor: pointer;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
    &:hover {
        background-color: #FFF4DF;
    }
    &::after {
        display: block;
        content: '';
        position: absolute;
        height: 16px;
        width: 20px;
        right: 50px;
        top: 50%;
        background-image: url("../img/faqs-btn.svg");
        background-repeat: no-repeat;
    }
}
.question__button-desc {
    display: none;
 }
.question__item-title {
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.78571px;
    color: #495567;
}
.question__list--safe {
    margin-top: 64px;
}
.question__button--safe {
    padding: 32px 250px 32px 40px;
}
@media only screen and(max-width: $tablet) {
    .question__list {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .question__item-title {
        margin-bottom: 32px;
    }
    .question__list--safe {
        margin-top: 64px;
    }
}
@media only screen and(max-width: $mobile) {
    .question__button {
        padding: 32px 60px 32px 32px;
    }
    .question__button--safe {
        padding: 32px 60px 32px 32px;
    }
}